/*RESET*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

menu, ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

/*STYLE*/

.webapp {
	height: 100vh;
    display: flex;
    color: white;
}

.webapp .sidebar {
	background-color: black;
    padding: 15px 10px;
    width: 150px;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .nav {
	font-size: 12px; 
}

.sidebar ul.nav {
	margin: 10px 0;
}

.webapp main {
	flex-grow: 1;
}

.top-bar {
	background-color: #0E121B;
    padding: 15px 20px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button {
	background-color: #ffffff;
    color:black;
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
}

.main-content {
	background-color: #131923;
    padding: 50px 20px;
    height: calc(100vh - 70px - 80px);
}

.row {
	display: flex;
    flex-wrap: wrap;
}

.col-8 {
	width: calc(8 * 100% / 12);
    padding: 0 20px;
    border-left: 1px solid rgb(255, 255, 255);
}

.webapp .webapp-footer {
	background-color: #282828;
    padding: 20px 10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.webapp-footer ul {
    display: flex;
	gap: 15px;
}

